doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/eventemitter2.min.js')
	script(src='/javascripts/roslib.min.js')
	script(type='text/javascript').

		var ros=new ROSLIB.Ros({
			url:'ws://143.215.108.175:9090'
		});
		var arduino = new ROSLIB.Topic({
			ros : ros,
			name : '/chatter',
			messageType : 'std_msgs/Char'
		});
		function forward(){
			var movement = new ROSLIB.Message({
				data:119 //w
			});
			arduino.publish(movement);
		}
		function turn_left(){
			var movement = new ROSLIB.Message({
				data:97 //a
			});
			arduino.publish(movement);
		}

		function turn_right(){
			var movement = new ROSLIB.Message({
				data:100 //d
			});
			arduino.publish(movement);
		}

		function backward(){
			var movement = new ROSLIB.Message({
				data:115 //s
			});
			arduino.publish(movement);
		}

	body
		block content
